## Lists

#### Lists are ordered,mutable collections of items
#### They can contain any data type, including other lists
#### Lists are defined using square brackets []
#### List items are separated by commas
#### Lists are indexed starting at 0
#### Lists can be sliced using the colon operator :
#### Lists can be nested, meaning a list can contain other lists
#### Lists can be concatenated using the + operator
#### Lists can be repeated using the * operator

In [3]:
lst =[]
print(type(lst))

<class 'list'>

In [4]:
names=['rajib','sahim','ajim','rajen',21,21,22,20,'a','a','a','b',True,True,False,True]

In [7]:
for i in names:
    print(i)

rajib
sahim
ajim
rajen
21
21
22
20
a
a
a
b
True
True
False
True

In [8]:
print(lst)

['rajib', 'sahim', 'ajim', 'rajen', 21, 22, 20, 'a', 'b', True, False]

In [10]:
names[0]='sahim'
print(names[0])

sahim

In [ ]:
print(names[-1])  # the last element of the list

True

In [12]:
print(names[1:]) # from inex 1 to the end
print(names[1:4]) # from index 1 to index 4 ,4 is not included

['sahim', 'ajim', 'rajen', 21, 21, 22, 20, 'a', 'a', 'a', 'b', True, True, False, True]
['sahim', 'ajim', 'rajen']

# List methods

In [2]:
fruits=['banana','apple','orange','mango']
print(fruits)

['banana', 'apple', 'orange', 'mango']

In [ ]:
## append() method
# add an item to the end of the list
fruits.append('grape') # add grape to the end of the list
print(fruits)

['banana', 'apple', 'orange', 'mango', 'grape']

In [4]:
## insert() method
# add an item at a specific index
fruits.insert(2,'kiwi') # add kiwi at index 2
print(fruits)

['banana', 'apple', 'kiwi', 'orange', 'mango', 'grape']

In [8]:
## remove() method  
#removing the first occurrence of a value
fruits.remove('orange') # remove apple from the list
print(fruits)

['banana', 'kiwi', 'mango', 'grape']

In [13]:
fruits.append('banana')
fruits.append('banana')
fruits.append('watermelon')
fruits.append('sapota')
fruits.append('apple')
fruits.append('muskmelon')
print(fruits)

['banana', 'banana', 'banana', 'watermelon', 'sapota', 'apple', 'muskmelon']

In [ ]:
## pop() method
# remove the item at the specified index and return it
#if the index is not specified, the last item is removed and returned
fruits.pop() # remove the last item from the list
fruits.pop(1) # remove the item at index 2
print(fruits) # remove the item at index 2

['banana', 'banana', 'watermelon', 'sapota', 'apple']

In [15]:
## index() method
# return the index of the first occurrence of a value
# if the value is not found, it raises a ValueError
fruits.index('banana') # return the index of the first occurrence of banana
print(fruits.index('banana')) # return the index of the first occurrence of banana

0

In [16]:
## count() method
# return the number of occurrences of a value in the list
# if the value is not found, it returns 0
fruits.count('banana') # return the number of occurrences of banana
print(fruits.count('banana')) # return the number of occurrences of banana

2

In [17]:
## sort() method
# sort the list in ascending order
# if the list contains mixed data types, it raises a TypeError
# if the list is empty, it does nothing
fruits.sort() # sort the list in ascending order
print(fruits) # sort the list in ascending order

['apple', 'banana', 'banana', 'sapota', 'watermelon']

In [18]:
## reverse() method
# reverse the order of the list
# if the list is empty, it does nothing
# if the list contains mixed data types, it raises a TypeError
fruits.reverse() # reverse the order of the list    
print(fruits) # reverse the order of the list

['watermelon', 'sapota', 'banana', 'banana', 'apple']

In [20]:
## clear() method
# remove all items from the list
# if the list is empty, it does nothing
# if the list contains mixed data types, it raises a TypeError
fruits.clear() # remove all items from the list
print(fruits) # remove all items from the list

[]

#### Slicicing list

In [21]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
print(numbers[0:5]) # from index 0 to index 5, 5 is not included
print(numbers[5:]) # from index 5 to the end    
print(numbers[:5]) # from the beginning to index 5, 5 is not included
print(numbers[::2]) # from the beginning to the end, step 2
print(numbers[1::2]) # from the beginning to the end, step 2
print(numbers[::-1]) # from the end to the beginning, step -1
print(numbers[::-2]) # from the end to the beginning, step -2
print(numbers[-1]) # the last element of the list
print(numbers[-2]) # the second last element of the list
print(numbers[-3]) # the third last element of the list

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6, 4, 2]
10
9
8

In [23]:
## itreting over a list

for i in numbers:
    print(i) # print each element of the list

1
2
3
4
5
6
7
8
9
10

In [25]:
## if we want to print the index and the value of each element of the list
for index, value in enumerate(numbers):
    print(index, value) # print the index and the value of each element of the list

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [26]:
## if we want to print the index and the value of each element of the list in reverse order
for index, value in enumerate(reversed(numbers)):
    print(index, value) # print the index and the value of each element of the list in reverse order

0 10
1 9
2 8
3 7
4 6
5 5
6 4
7 3
8 2
9 1

In [ ]:
## List comprehension
# create a new list with the square of each element of the list
squares = [x**2 for x in numbers] # create a new list with the square of each element of the list
print(squares) # print the new list with the square of each element of the list

## [output operation]
## [x**2 for x in numbers] single line operation

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### List comperihension 

#### basic syntax [expression for item in iteretable]

#### with conditional logic [expression for item in iteretable if condition]

##### List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code.

In [28]:
### basic list comperhension
 
squares = [x**2 for x in numbers] # create a new list with the square of each element of the list
print(squares) # print the new list with the square of each element of the list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
### List comprehension with if condition
evens = [x for x in numbers if x % 2 == 0] # create a new list with the even numbers of the list
print(evens) # print the new list with the even numbers of the list

[2, 4, 6, 8, 10]

In [31]:
### Nested list comprehension
# create a new list with the square of each element of the list
nested_squares = [[x**2 for x in range(5)] for y in range(3)] # create a new list with the square of each element of the list
print(nested_squares) # print the new list with the square of each element of the list

### Another example of nested list comprehension

list1=[1,2,3,4]
list2=['a','b','c','d']

nested_list = [(x,y) for x in list1 for y in list2] # create a new list with the square of each element of the list
print(nested_list) # print the new list with the square of each element of the list

[[0, 1, 4, 9, 16], [0, 1, 4, 9, 16], [0, 1, 4, 9, 16]]
[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [32]:
### List with function call
words=['hello','world','python','programming']
lengths = [len(word) for word in words] # create a new list with the length of each element of the list
print(lengths) # print the new list with the length of each element of the list

[5, 5, 6, 11]

## Tuples

#### Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [33]:
### Creating a tuple

empty_tuple=()
print(type(empty_tuple)) # print the type of the empty tuple
print(empty_tuple) # print the empty tuple

<class 'tuple'>
()

In [ ]:
lst=list()   ###list() is a built-in function that creates an empty list
print(type(lst)) # print the type of the empty list
print(lst) # print the empty list
tpl=tuple()  ###tuple() is a built-in function that creates an empty tuple
print(type(tpl)) # print the type of the empty tuple
print(tpl) # print the empty tuple

<class 'list'>
[]
<class 'tuple'>
()

In [38]:
numbers=tuple([1,2,3,4,5,6])
numbers
type(numbers) # print the type of the tuple

tuple

In [39]:
list((1,2,3,4,5,6)) # convert the tuple to a list
print(type(list((1,2,3,4,5,6)))) # print the type of the list

<class 'list'>

In [42]:
##Accessing tuple elements
numbers[0] # access the first element of the tuple
numbers[-1] # access the last element of the tuple

6

In [43]:
numbers[1:4] # access the elements from index 1 to index 4, 4 is not included

(2, 3, 4)

In [44]:
numbers[1:4] # access the elements from index 1 to index 4, 4 is not included

(2, 3, 4)

In [46]:
### Tuple oparations
numbers1=(1,2,3,4,5,6)
mixed_tuple=('a','b','c','d',True,False)

concatenated_tuple=numbers1+mixed_tuple # concatenate the two tuples
print(concatenated_tuple) # print the concatenated tuple

(1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', True, False)

In [47]:
mixed_tuple*2 # repeat the tuple 2 times
print(mixed_tuple*2) # print the repeated tuple

('a', 'b', 'c', 'd', True, False, 'a', 'b', 'c', 'd', True, False)

In [49]:
### Immutable nature of tuple
# tuples are immutable, we cannot change the elements of the tuple
# numbers1[0]=10 # this will raise a TypeError
# print(numbers1) # print the tuple

## numbers[2]='jbj'
## print(numbers) # print the tuple

In [50]:
## Tuple methods
# count() method
# return the number of occurrences of a value in the tuple
# if the value is not found, it returns 0
numbers1.count(2) # return the number of occurrences of 2 in the tuple  
print(numbers1.count(2)) # return the number of occurrences of 2 in the tuple

1

In [51]:
## index() method
# return the index of the first occurrence of a value in the tuple
# if the value is not found, it raises a ValueError
numbers1.index(2) # return the index of the first occurrence of 2 in the tuple
print(numbers1.index(2)) # return the index of the first occurrence of 2 in the tuple

1

In [52]:
## Packing and Unpacking
# packing a tuple
packed_tuple = (1,2,3,4,5) # packing a tuple
print(packed_tuple) # print the packed tuple

# unpacking a tuple
a,b,c,d,e = packed_tuple # unpacking a tuple
print(a) # print the first element of the tuple

(1, 2, 3, 4, 5)
1

In [53]:
### unpacking a tuple with * operator
a,b,*c = packed_tuple # unpacking a tuple with * operator
print(a) # print the first element of the tuple 
print(b) # print the second element of the tuple
print(c) # print the third element of the tuple

1
2
[3, 4, 5]

In [54]:
## Nested tuple
nested_tuple = ((1,2,3),(4,5,6),(7,8,9)) # create a nested tuple
print(nested_tuple) # print the nested tuple
print(nested_tuple[0]) # print the first element of the nested tuple

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)

In [55]:
## iterating over a tuple
for i in nested_tuple:
    print(i) # print each element of the nested tuple

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

#### Conclusion

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

## Dictionaries

#### Introduction to Dictionaries
Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

In [56]:
### creating dictionary
empty_dict={} # create an empty dictionary
print(type(empty_dict)) # print the type of the empty dictionary    
print(empty_dict) # print the empty dictionary

<class 'dict'>
{}

In [57]:
empty_dict=dict() # create an empty dictionary
print(type(empty_dict)) # print the type of the empty dictionary
print(empty_dict) # print the empty dictionary

<class 'dict'>
{}

In [58]:
student={'name':'rajib','age':32,'grade':'A'}
print(student) # print the dictionary
print(type(student)) # print the type of the dictionary

{'name': 'rajib', 'age': 32, 'grade': 'A'}
<class 'dict'>

In [ ]:
### Error :key cant have same value
# student['rajib'] # this will raise a KeyError
# print(student['rajib']) # this will raise a KeyError

In [59]:
### accessing dictionary elements
print(student['name']) # access the value of the key 'name'
print(student['age']) # access the value of the key 'age'
print(student['grade']) # access the value of the key 'grade'

rajib
32
A

In [61]:
## Assigning using get() method
print(student.get('name')) # access the value of the key 'name'
print(student.get('age')) # access the value of the key 'age'
print(student.get('last_name')) # access the value of the key 'grade'

rajib
32
None

In [67]:
## modifying dictionary elements
### dictionary are mutable, we can change the values of the keys
student['name']='sahim' # change the value of the key 'name'
print(student) # print the dictionary with the modified value of the key 'name'

student['address']='bangalore' 

print(student) # print the dictionary with the modified value of the key 'name'

{'name': 'sahim', 'age': 32, 'grade': 'A', 'address': 'bangalore'}
{'name': 'sahim', 'age': 32, 'grade': 'A', 'address': 'bangalore'}

In [68]:
student['address']='kolkata' # change the value of the key 'address'
print(student) # print the dictionary with the modified value of the key 'address'
 
del student['address'] # delete the key 'address' from the dictionary
print(student) # print the dictionary with the deleted key 'address'

{'name': 'sahim', 'age': 32, 'grade': 'A', 'address': 'kolkata'}
{'name': 'sahim', 'age': 32, 'grade': 'A'}

In [70]:
### Dictionary methods
# keys() method
# return a list of the keys in the dictionary
print(student.keys()) # return a list of the keys in the dictionary
# values() method   
# return a list of the values in the dictionary
print(student.values()) # return a list of the values in the dictionary

## items() method
# return a list of the key-value pairs in the dictionary
print(student.items()) # return a list of the key-value pairs in the dictionary

dict_keys(['name', 'age', 'grade'])
dict_values(['sahim', 32, 'A'])
dict_items([('name', 'sahim'), ('age', 32), ('grade', 'A')])

In [71]:
## shallow copy
# copy() method
# return a shallow copy of the dictionary
shallow_copy = student.copy() # return a shallow copy of the dictionary
print(shallow_copy) # print the shallow copy of the dictionary
print(student) # print the original dictionary
print(shallow_copy is student) # check if the shallow copy is the same as the original dictionary

{'name': 'sahim', 'age': 32, 'grade': 'A'}
{'name': 'sahim', 'age': 32, 'grade': 'A'}
False

In [ ]:
### itrating over a dictionary
for key in student:
    print(key) # print each key of the dictionary
    
    
for value in student.values():
    print(value) # print each value of the dictionary
    
    
for key, value in student.items():
    print(key, value) # print each key-value pair of the dictionary


for index, (key, value) in enumerate(student.items()):
    print(index, key, value) # print the index, key, and value of each key-value pair of the dictionary


for index, (key, value) in enumerate(reversed(student.items())):
    print(index, key, value) # print the index, key, and value of each key-value pair of the dictionary in reverse order

name
age
grade
sahim
32
A
name sahim
age 32
grade A
0 name sahim
1 age 32
2 grade A
0 grade A
1 age 32
2 name sahim