In [12]:
import pandas as pd

messages = pd.read_csv('spam (1).csv', sep='\t', names=["labels", "message"],encoding='ISO-8859-1'
)

In [13]:
messages

                                                 labels  message
0                                              v1,v2,,,      NaN
1     ham,"Go until jurong point, crazy.. Available ...      NaN
2                  ham,Ok lar... Joking wif u oni...,,,      NaN
3     spam,Free entry in 2 a wkly comp to win FA Cup...      NaN
4     ham,U dun say so early hor... U c already then...      NaN
...                                                 ...      ...
5570  spam,"This is the 2nd time we have tried 2 con...      NaN
5571       ham,Will Ì_ b going to esplanade fr home?,,,      NaN
5572  ham,"Pity, * was in mood for that. So...any ot...      NaN
5573  ham,The guy did some bitching but I acted like...      NaN
5574                  ham,Rofl. Its true to its name,,,      NaN

[5575 rows x 2 columns]

### Data cleaning